##list
- list is collection of different data type elements
- list is mutable
- list is index based and slicleable
- list is denotes with[]
- list constains duplicate values

In [20]:
l=[1,2,3,'a','b',5.5,6,1,2,3]

In [27]:
#mutable
l[2]

3

In [23]:
l[0] = 100
print(l)

[100, 2, 3, 'a', 'b', 5.5, 6, 1, 2, 3]

In [5]:
#index based and sliceable
l=[1,2,3,'a','b',5.5,6,1,2,3]
print(l[0])
print(l[-1])
print(l[5])
print(l[-3])

1
3
5.5
1

In [29]:
l=[1,2,3,'a','b',5.5,6,1,2,3]
print(l[2:4])
print(l[2:])
print(l[:-4])

[3, 'a']
[3, 'a', 'b', 5.5, 6, 1, 2, 3]
[1, 2, 3, 'a', 'b', 5.5]

In [6]:
#create empty list
lst = []
lst1 = list()
print(type(lst),type(lst1))

<class 'list'> <class 'list'>

In [7]:
len(lst)

0

In [8]:
lst = [0]
len(lst)

1

In [ ]:
#read list of element from user

In [10]:
input().split()

 1 2 3 4

['1', '2', '3', '4']

In [11]:
map(int, input().split())

 1 2 3 4

In [14]:
lst = list(map(int, input().split()))
print(lst)

 1 2 3 4

[1, 2, 3, 4]

In [18]:
# we cant not covert charater into integer
lst = list(map(int, input().split()))
print(lst)

 1 2 3 a

ValueError: invalid literal for int() with base 10: 'a'

In [15]:
lst = list(map(float, input().split()))
print(lst)

 1 2 3 4

[1.0, 2.0, 3.0, 4.0]

In [16]:
lst = list(map(str, input().split()))
print(lst)

 1 2 3 4

['1', '2', '3', '4']

In [17]:
lst = list(map(str, input().split()))
print(lst)

 1 2 3 a

['1', '2', '3', 'a']

In [30]:
#list concatination using '+'
l1 = [1,2,3]
l2 = [4,5]
print(l1+l2)

[1, 2, 3, 4, 5]

In [31]:
#list repetation using '*'
l1 = [1,2,3,4,5]
print(l1*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

List Methods

- append(value) - itadd the single value at emnd of list
- extend(iterable) - it add the iterable values at end of list
- insert(position,value) - add the value at specified position and followed values are right shifted
- index(value) - returns the first position of value, otherwise valueError
- remove(value) - it removes the value at first occurance position
- pop() - returns and removes the pop value as per specified position otherwise pops the last value
- clear() - removes the all elements from list
- del - removes the list
- count(value) -returns the total occurance of a value in the list
- len(list_name) - total elements in the list or length of list
- min(list_name) - returns the min value from the list
- max(list_name) - returns the max value from the list
- sum(list_name) - sums the all elements in the list

In [36]:
l =[1,2,3,'3a','b',5.5,6,1,2,3]
#append(),extend(),insert()
print("original list:",l)
l.append(100)
print("After Append operation:",l)
l.append([200,300,400])
print("After Extend operation:",l)
l.insert(4,'codegnan')
print("After insert operation:",l)

original list: [1, 2, 3, '3a', 'b', 5.5, 6, 1, 2, 3]
After Append operation: [1, 2, 3, '3a', 'b', 5.5, 6, 1, 2, 3, 100]
After Extend operation: [1, 2, 3, '3a', 'b', 5.5, 6, 1, 2, 3, 100, [200, 300, 400]]
After insert operation: [1, 2, 3, '3a', 'codegnan', 'b', 5.5, 6, 1, 2, 3, 100, [200, 300, 400]]

In [38]:
#remove(),pop(),clear(),del()
l =[1,2,3,'3a','b',5.5,6,1,2,3]
print("original list:",l)
l.remove(2)
print("after remove operation:",l)
l.pop()
print("after pop operation:",l)
l.pop(3)
print("after pop the 3rd position:",l)
del l[0]
print("after del of 0th position ele:", l)
del l[2:4]
print("after del using sliceing:",l)
l.clear()
print("after clear operation:",l)

original list: [1, 2, 3, '3a', 'b', 5.5, 6, 1, 2, 3]
after remove operation: [1, 3, '3a', 'b', 5.5, 6, 1, 2, 3]
after pop operation: [1, 3, '3a', 'b', 5.5, 6, 1, 2]
after pop the 3rd position: [1, 3, '3a', 5.5, 6, 1, 2]
after del of 0th position ele: [3, '3a', 5.5, 6, 1, 2]
after del using sliceing: [3, '3a', 1, 2]
after clear operation: []

In [32]:
#min(),max(),len(),count(),sum(),sort(),reverse()
l = [1,2,5,10,11,34,2,3,4]
min_val = min(l)
max_val = max(l)
count_2 = l.count(2)
sum_list = sum(l)
print(min_val)
print(max_val)
print(count_2)
print(sum_list)

1
34
2
72

In [33]:
# sort()
l = [1,2,5,10,11,34,2,3,4]
l.sort()
print(l)

[1, 2, 2, 3, 4, 5, 10, 11, 34]

In [39]:
# sort()
l = [1,2,5,10,11,34,2,3,4]
l.sort()
print(l)

[1, 2, 2, 3, 4, 5, 10, 11, 34]

In [40]:
l = [1,2,5,10,11,34,2,3,4]
l.sort(reverse=True)
print(l)

[34, 11, 10, 5, 4, 3, 2, 2, 1]